alabaster==0.7.12
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
cffi==1.14.5
charset-normalizer==2.0.4
colorama==0.4.3
commonmark==0.9.1
cryptography==3.4.7
distlib==0.3.1
docutils==0.16
filelock==3.0.12
idna==3.2
imagesize==1.2.0
isort==4.3.21
Jinja2==3.0.1
lazy-object-proxy==1.4.3
linkify-it-py==1.0.1
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe==2.0.1
mccabe==0.6.1
mdit-py-plugins==0.2.8
myst-parser==0.15.1
numpy==1.19.1
packaging==21.0
pycparser==2.20
pygame==1.9.6
Pygments==2.9.0
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytz==2020.1
PyYAML==5.4.1
recommonmark==0.7.1
requests==2.26.0
six==1.15.0
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.3.1
toml==0.10.1
uc-micro-py==1.0.1
urllib3==1.26.6
virtualenv==20.4.2
wrapt==1.12.1
